body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: url(../images/fondo2.jpg);
    padding: 40px;
}
header{
    background-color: rgb(235, 245, 251);
    padding: 20px 0;
}

main{
    background-color: white;
    padding: 20px 0;
    margin-top: 10px;
    border-radius: 5px;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration:none;

}
.btnSend{
    color: white;
    margin-top: 10px;
}
.btn{
    color: white;
    background: rgb(45, 113, 185 );
    transition: 1s all;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}

.btn.btn-primary {
    color: white; /* Cambia el color del texto a blanco */
}
table th {
    background-color: rgb(127, 179, 213);
    color: #fff;
}
table td{
    background: white;
}
.table-extend {
    width: 10000%; /* Ajusta este valor según tus necesidades */
}

.delete-icon {
    width: 20px; /* Ajusta este valor según el tamaño deseado */
    height: 20px; /* Ajusta este valor según el tamaño deseado */
}
